@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background: url(../../public/images/bg_main.png), lightgray 50% / cover no-repeat;
  color: #FFF;
}

@font-face {
  font-family: "Ravie";
  src: url(../../public/fonts/ravie/Ravie.otf) format("opentype");
}

@font-face {
  font-family: "Trap-Bold";
  src: url(../../public/fonts/trap/Trap-Bold.otf) format("opentype");
  font-weight: bold;
}

@font-face {
  font-family: "Trap-ExtraBold";
  src: url(../../public/fonts/trap/Trap-ExtraBold.otf) format("opentype");
  font-weight: bolder;
}

@font-face {
  font-family: "Trap-Light";
  src: url(../../public/fonts/trap/Trap-Light.otf) format("opentype");
  font-weight: light;
}

@font-face {
  font-family: "Trap-Medium";
  src: url(../../public/fonts/trap/Trap-Medium.otf) format("opentype");
  font-weight: medium;
}

@font-face {
  font-family: "Trap";
  src: url(../../public/fonts/trap/Trap-Regular.otf) format("opentype");
  font-weight: normal;
}

@font-face {
  font-family: "Trap-SemiBold";
  src: url(../../public/fonts/trap/Trap-SemiBold.otf) format("opentype");
  font-weight: 700;
}

@font-face {
  font-family: "Trap-Black";
  src: url(../../public/fonts/trap/Trap-Black.otf) format("opentype");
  font-weight: 900;
}

.hero_section {
  background: url(../../public/images/hero_bg.png), lightgray 50% / cover no-repeat;
  width: 100%;
  height: 670px;
}

@media screen and (max-width: 369px) {
  .hero_section {
    background: url(../../public/images/herobg_sm.png);
    background-repeat: no-repeat;
    object-fit: cover;
    flex-shrink: 0;
    height: 80dvh;
    width: 100dvw;
  }
}

@media screen and (max-width: 280px) {
    .hero_section {
    background: url(../../public/images/herobg_sm.png);
    background-repeat: no-repeat;
    object-fit: cover;
    flex-shrink: 0;
    height: 100vh;
    width: 100dvw;
  }
}



header {
  background: url(../../public/images/header.png), lightgray -13.56px -669.524px / 109.789% 552.381% no-repeat;
  background: transparent
}


.hero_button {
  width: 9.125rem;
  height: 3rem;
  padding: 0rem 1.8125rem 0rem 1.875rem;
  /* margin-top: 50px; */
  border: 1px solid #FFF;
  background: rgba(241, 206, 169, 0.10);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.mobile-menu {
  background: url(../../public/images/bg.png)
}

ul.navbar-list {
  display: flex;
  background-color: black;
  padding: 1rem; /* Add padding as needed */
}

ul.navbar-list li {
  margin-right: 1rem; /* Add margin between items as needed */
  list-style: none; /* Remove the default list bullet points */
}

ul.navbar-list a {
  color: white;
  text-decoration: none;
}

ul.navbar-list a:hover {
  color: #F1AC74; /* Change the hover color as desired */
}